@font-face {
    font-family: 'Raleway';
    font-display: swap;
    src: url("../assets/fonts/Raleway-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    font-display: swap;
    src: url("../assets/fonts/OpenSans-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    font-display: swap;
    src: url("../assets/fonts/OpenSans-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    font-display: swap;
    src: url("../assets/fonts/OpenSans-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    font-display: swap;
    src: url("../assets/fonts/OpenSans-ExtraBold.woff") format("woff");
    font-weight: 900;
    font-style: normal;
}
