@import './null.css';
@import './fonts.css';
@import './components/_header.css';
@import './components/_main.css';
@import './components/_buy-block.css';
@import './components/_preview.css';

body {
    font-family: 'OpenSans', sans-serif;
    font-weight: 400;
}

h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

h1 {
    font-size: calc(36px + (64 - 36) * ((100vw - 360px) / (1440 - 360)));
    line-height: calc(40px + (68 - 40) * ((100vw - 360px) / (1440 - 360)));
}

h2 {
    font-size: 48px;
    line-height: 52px;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.wrapper {
    min-height: 100%;
    background: #1d1d1b;
}
